<div class="container">
    <ul>
        <li>
            <div class="search-section text-right">
                <p class="text-right">Connect with millions of decision makers</p>
                <div class="search-box">
                    <input name="search" type="text" placeholder="Enter a domain name">
                    <span>&nbsp;</span>
                    <button name="submit" type="submit">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>