<div class="ms-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <div id="map" style="width: 100%;height: 100%;"></div>
                <div id="shopLocationSlider"></div>

            </div>
            <div class="col-12 col-sm-8">
                <div class="row">
                    <div class="col-12 col-sm-4" *ngFor="let item of categoryLinkList;let i = index;">
                        <h6>{{item['title']}}</h6>
                        <ul>
                            <li *ngFor="let sub_item of item['category'];index as j;">
                                <a href="">{{sub_item}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-4 ms-contact-detail">
                        <h6>CONTACT</h6>
                        <p class="ms-contact-detail">No 27, Near, Mettupalayam Rd,<br> Sreevatsa Garden,<br> Thudiyalur,<br> Coimbatore,<br> Tamil Nadu 641029</p>
                        <ul class="ms-contact-info">
                            <li><i class="fa fa-phone"></i>+91 96265 11012</li>
                            <li><i class="fa fa-envelope-o"></i>info@babyshopee.in</li>
                            <li class="ms-follow-us">follow us:<span class="ms-follow-us" *ngFor="let item of socialContactIcon"><i [ngClass]="[item]"class="material-icons"></i></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ms-payment-platform">
        <b>Payment</b><img *ngFor="let item of paymentLogo" [src]="item">
    </div>
    <div class="ms-copy-rights">
        &copy;&nbsp;2019 Baby Shopee. All Rights Reserved. | Designed and Developed by <span>Reach Unimaginary Info Tech</span>
    </div>
</div>

<script>
    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: -34.397,
                lng: 150.644
            },
            zoom: 8
        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFtPZC2SbVvCLfrzDNeNQhWKFi9eLi3zI&callback=initMap" type="text/javascript"></script>