<div class="ms_slideshow_container">

    <div class="ms_mySlides ms_fade" *ngFor="let item of slideImg">
        <img [src]="[item]">
        <div class="text">Caption Text</div>
    </div>


    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>

</div>
<br>

<div class="text-center">
    <span class="ms_dot" (click)="currentSlide(1)"></span>
    <span class="ms_dot" (click)="currentSlide(2)"></span>
    <span class="ms_dot" (click)="currentSlide(3)"></span>
</div>