/* -------------- GLOBAL COLOR ----------------- */

$dark_orange: #FF591C;
$border_color: #CCCCCC;
$input_placeholder: #BBBBBB;
$white: #FFFFFF;
$black: #000;
$text_grey: #818078;
$f5: #f5f5f5;
$deep_sky_blue: #00bfff;
$charcoal: #607d8b;
$deep_light_blue:#00bcd4;
$ed: #ededed;