/* -------------- GLOBAL COLOR ----------------- */

$dark_orange: #FF591C;
$border_color: #CCCCCC;
$input_placeholder: #BBBBBB;
$white: #FFFFFF;
$black: #000;
$text_grey: #818078;
$background_color: #f5f5f5;